.goTop {
  position: fixed;
  bottom: 2rem;
  right: -4rem;
  color: var(--color);
  font-weight: 900;
  font-size: 3rem;
  transform: rotate(-90deg);
  transition: 0.5s;
  z-index: 99;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(var(--btn-primary-bg), transparent);

  &.goUp {
    right: 2rem;
  }
}
