.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 0;
  font-size: 1.5rem;
  z-index: var(--layer4);
  height: 6rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, var(--card-bg) 0 50%, transparent);
  transition: var(--transition);
  color: var(--color);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
}

/* .footer .links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.links:before {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 10rem;
  border-radius: 0.5rem;
  background-color: var(--btn-primary-bg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px var(--btn-primary-bg),
    0 0 5px var(--btn-secondary-text) inset;
}

.links button {
  border: none;
  padding: 0.5rem;
  width: 7.5rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2rem;
  -webkit-tap-highlight-color: transparent;
} */
