div[id="root"] {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.main {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: var(--bg);
  transition: var(--transition);

  .theme-checked {
    position: absolute;
    z-index: var(--layer0);
    opacity: 0;
  }

  .container {
    margin-top: 9rem;
    padding: 0 1rem;
    min-height: calc(100vh - 9rem);
  }
}
